/*#region Variables*/
:root {
  /* Colors */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  /* Light Theme */
  --background-light: #f8f9fa;
  --text-light: #343a40;

  /* Dark Theme */
  --background-dark: #383838;
  --text-dark: #f8f9fa;

  /* Font Sizes */
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
/*#endregion Variables*/

/*#region Globals*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lexend', sans-serif;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}
.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
}
.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
/*#endregion Globals*/

/*#region General Utilities*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/*#endregion General Utilities*/

/*#region Grid Utilities*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.col { flex: 1 0 0% }
.col-1 { 
  flex: 0 0 auto;
  max-width: 8.333333%;
}
.col-2 { 
  flex: 0 0 auto;
  max-width: 16.666667%;
}
.col-3 { 
  flex: 0 0 auto;
  max-width: 25%;
}
.col-4 { 
  flex: 0 0 auto;
  max-width: 33.333333%;
}
.col-5 { 
  flex: 0 0 auto;
  max-width: 41.666667%;
}
.col-6 { 
  flex: 0 0 auto;
  max-width: 50%;
}
.col-7 { 
  flex: 0 0 auto;
  max-width: 58.333333%;
}
.col-8 { 
  flex: 0 0 auto;
  max-width: 66.666667%;
}
.col-9 { 
  flex: 0 0 auto;
  max-width: 75%;
}
.col-10 { 
  flex: 0 0 auto;
  max-width: 83.333333%;
}
.col-11 { 
  flex: 0 0 auto;
  max-width: 91.666667%;
}
.col-12 { 
  flex: 0 0 auto;
  max-width: 100%;
}
/*#endregion Grid Utilities*/

/*#region Text */
@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Define the weight range of the variable font */
  font-display: swap; /* Ensures that text remains visible while the font loads */
}
.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }
.text-primary { color: var(--color-primary) }
.text-secondary { color: var(--color-secondary) }
/*#endregion Text */