@import url('./styles/variables.css');
@import url('./styles/text.css');
@import url('./styles/spacing.css');
@import url('./styles/display.css');

/*#region Globals*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lexend', sans-serif;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}
/*#endregion Globals*/

/*#region Theme*/
.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
}
.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
/*#endregion Theme*/

/*#region General Utilities*/

/*#endregion General Utilities*/


/*#region Text */

/*#endregion Text */

